.personInfo {
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
}

.personInfo .personInfomation {
  /* width: 32.5%; */
  /* height: 188px;
  padding: 20px 12px;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #d2dadc;
  float: left; */
}

.personInfo .personInfomation .txt {
  width: 100%;
  height: 80px;
}

.personInfo .personInfomation .txt .txtItem {
  /* width: 50%;
  height: 100%;
  float: left;
  position: relative;
  border-radius: 5px; */
  border-radius: 5px;
  height: 100px;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 10px;
}

.personInfo .personInfomation .txt .txtItem em {
  
}

.personInfo .personInfomation .txt .txtItem span {
  
}



.personInfo .personInfomation .txt .txtItem:nth-child(2) {
  background: #eeeeee;
}

.personInfo .personInfomation .change {
  /* width: 100%;
  height: 60px;
  line-height: 60px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-top: none;
  border-radius: 5px;
  box-shadow: 0 2px 1px #e4e4e4; */
}

.personInfo .personInfomation .change span {
  width: 50%;
  cursor: pointer;
  text-align: center;
  color: #0060ff;
  font-size: 24px;
  display: block;
  float: left;
}

.personInfo .personMessage {
  
}

.personInfo .personMessage .messageItemFather .messageItem {
  /* width: 48%; */
  height: 160px;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

.personInfo .personMessage .messageItemFather .messageItem .messageIcon {
  /* width: 100px; */
  height: 100%;
}

.personInfo .personMessage  .messageItemFather .messageItem .messageIcon img {
  display: block;
  margin: 0 auto;
  margin-top: 41px;
}

.personInfo .personMessage .messageItemFather .messageItem .messageTxt {
  /* flex: 1; */
  /* text-align: right; */
  text-align: center;
  color: #fff;
  padding-right: 25px;
  box-sizing: border-box;
}

.personInfo .personMessage  .messageItemFather .messageItem .messageTxt span {
  display: block;
}

.personInfo .personMessage  .messageItemFather .messageItem .messageTxt span:nth-child(1) {
  font-size: 20px;
  margin: 18px 0;
}

.personInfo .personMessage  .messageItemFather .messageItem .messageTxt span:nth-child(2) {
  font-size: 58px;
}

.personInfo .personMessage  .messageItemFather .messageItem .messageTxt em {
  font-size: 30px;
}

.personInfo .personMessage .messageItemFather .messageItem:nth-child(1) {
  background: #29c75f;
  margin-bottom: 15px;
}

.personInfo .personMessage .messageItemFather .messageItem:nth-child(1) .messageIcon {
  background: #3fcd6f;
}

.personInfo .personMessage .messageItemFather .downClass {
  background: #39c3da !important;
}

.personInfo .personMessage .messageItemFather .downClass .messageIcon {
  background: #4dc9de !important;
}

.personTable {
  width: 100%;
  /* height: 73%; */
  background: #fff;
  margin-top: 12px;
  box-sizing: border-box;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px;
  /* padding-top: 30px; */
}

.personTable table {
  width: 100%;
}

.personTable table thead tr {
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #d2dadc;
}

.personTable table thead th {
  text-align: center;
}

.personTable table thead th:nth-child(1) {
  width: 20%;
}

.personTable table thead th:nth-child(2) {
  width: 40%;
}

.personTable table thead th:nth-child(3) {
  width: 15%;
}

.personTable table thead th:nth-child(4) {
  width: 15%;
}

.personTable table tbody tr {
  min-height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #d2dadc;
}

.personTable table tbody tr:nth-child(odd) {
  background: #f9f9f9;
}

.personTable table tbody td {
  text-align: center;
  overflow: hidden;
  padding: 0 !important;
  line-height: inherit !important;
}

.personTable table tbody td:nth-child(1) {
  width: 20%;
}

.personTable table tbody td:nth-child(2) {
  line-height: 24px;
  width: 20%;
}

.personTable table tbody td:nth-child(3) {
  width: 15%;
}

.personTable table tbody td:nth-child(4) {
  width: 15%;
}

.personTable .page {
  float: right;
  margin-top: 20px;
}

.dialogEmail, .dialogPassword {
  display: none;
  position: absolute;
  left: 250px;
  top: 200px;
  width: 475px;
  height: 255px;
  border: 1px solid #d2dadc;
  border-radius: 5px;
  background: #fff;
  z-index: 1000;
}

.dialogEmail h4, .dialogPassword h4 {
  height: 40px;
  line-height: 40px;
  background: #f3f4f4;
  font-size: 24px;
  box-sizing: border-box;
  padding-left: 12px;
  color: #464545;
  border-bottom: 1px solid #d2dadc;
}

.dialogEmail h4 img, .dialogPassword h4 img {
  cursor: pointer;
  float: right;
  width: 28px;
  height: 28px;
  margin-top: 7px;
  margin-right: 10px;
}

.dialogEmail P, .dialogPassword P {
  font-size: 25px;
  color: #464545;
  text-align: center;
  vertical-align: middle;
  margin-top: 46px;
}

.dialogEmail P input, .dialogPassword P input {
  width: 266px;
  height: 34px;
  border-radius: 5px;
  border: 1px solid #d2dadc;
}

.dialogEmail button, .dialogPassword button {
  width: 108px;
  height: 32px;
  background: #29c75f;
  color: #fff;
  line-height: 32px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  margin-left: 240px;
  margin-top: 26px;
}

.dialogEmail span, .dialogPassword span {
  color: #ff0000;
  font-size: 14px;
  display: block;
  width: 288px;
  text-align: center;
  margin-left: 150px;
  margin-top: 20px;
}

.dialogPassword {
  left: 500px;
  top: 200px;
}

.dialogPassword span {
  width: 100%;
  margin-left: 0px;
}

.table>thead>tr>th{
  line-height: inherit !important;
  font-size: 16px;
  font-weight: 500;
}
.corlorTr{
  color: #4dc9de;
}
.widthOnl{
  width: 100%;
  background: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
}

.txtBox{
  background: white;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 10px;
  

}
.emailBtnBox{
  height: 40px;;
  border-radius: 5px;
  margin-top: 15px;

}
.tdMsg{
  width: 100px ;
  margin: auto;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
    .personInfo .personInfomation .txt .txtItem {
      margin-bottom: 10px;
    }
    .txtBox{
      background: white;
      padding: 20px;
      height: inherit;
      border-radius: 15px;
      margin-bottom: 10px;
    }
    .emailBtnBox{
      margin-top: 10px;
    }

    .personInfo .personMessage .messageItemFather .messageItem:nth-child(1) {
      margin-bottom: 10px;
    }
    .tdMsg{
      width: 150px ;
      margin: auto;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
    }
  }


/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {

  .personInfo .personMessage .messageItem .messageTxt {

    text-align: center;
    color: #fff;
    padding-right: 25px;
    box-sizing: border-box;
    margin-left: 20px;
  }
  .txtBox {
    background: white;
    padding: 20px;
    border-radius: 15px;
    height: 210px;
  }
  .emailBtnBox{
    height: 40px;;
    border-radius: 5px;
    margin-top: 15px;
  }
  .tdMsg{
    width: 100%;
  }
  .personInfo .personMessage  .messageItemFather .messageItem .messageTxt span:nth-child(2) {
    font-size: 40px;
  }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) { 

  .personInfo .personMessage  .messageItemFather .messageItem .messageTxt span:nth-child(2) {
    font-size: 56px;
  }
 }