html, body {
  width: 100%;
  height: 100%;
/* height: auto; */
  /* min-width: 1280px;  */
}

.border-error {
  border-color: red !important;
}

.border-success {
  border-color: #0fb74a !important;
}

.containerHtml {
  width: 100%;
  height: 100%;
  display: flex;
  /* overflow: hidden; */
  background: #e7edee;
}

.containerHtml .nav {
  width: 178px;
  /* height: 100%; */
  background: #fff;
  border-right: 1px solid #d2dadc;
  box-sizing: border-box;
  padding-top: 30px;
}
.containerHtml .nav a {
  padding: 0;
  color: #666666;
}
.containerHtml .nav .logo {
  padding-bottom: 45px;
}

.containerHtml .nav li {
  width: 87px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.containerHtml .nav li:hover i {
  transform: scale(1.2);
}

.containerHtml .nav li.active span {
  color: #0fb74a;
}

.containerHtml .nav li.active .navDown i {
  background: url("../img/downIcon.png") no-repeat center bottom;
  background-size: 100%;
}

.containerHtml .nav li.active .navPerson i {
  background: url("../img/personIcon.png") no-repeat center bottom;
  background-size: 100%;
}

.containerHtml .nav li.active .navInvest i {
  background: url("../img/shopIcon.png") no-repeat center bottom;
  background-size: 100%;
}

.containerHtml .nav li.active .navWel i {
  background: url("../img/welIcon.png") no-repeat center bottom;
  background-size: 100%;
}

.containerHtml .nav li span {
  display: block;
  text-align: center;
}

.containerHtml .nav li .Icon {
  width: 83px;
  height: 83px;
  margin: 0 auto;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 50%;
}

.containerHtml .nav li .Icon i {
  display: block;
  width: 100%;
  height: 100%;
  transition: all .2s ease-in-out;
}

.containerHtml .nav li .navDown i {
  background: url("../img/downIcon.png") no-repeat center top;
  background-size: 100%;
}

.containerHtml .nav li .navPerson i {
  background: url("../img/personIcon.png") no-repeat center top;
  background-size: 100%;
}

.containerHtml .nav li .navInvest i {
  background: url("../img/shopIcon.png") no-repeat center top;
  background-size: 100%;
}

.containerHtml .nav li .navWel i {
  background: url("../img/welIcon.png") no-repeat center top;
  background-size: 100%;
}

.containerHtml .content {
  flex: 1;
  margin: 0 30px;
}

