<li class="logo">
    <a href="javascript:;">
        <img src="./img/logo.png" alt="" />
    </a>
</li>
<li class="navItem  down" data-page="/down.html" data-type="down">
    <a href="javascript:;">
        <span class="Icon navDown">
            <i></i>
        </span>
        <span class="txt">文库下载</span>
    </a>
</li>
<li class="navItem person" data-page="/person.html" data-type="person">
    <a href="javascript:;">
        <span class="Icon navPerson">
            <i></i>
        </span>
        <span class="txt">个人中心</span>
    </a>
</li>
<li class="navItem invest" data-page="/invest.html" data-type="invest">
    <a href="javascript:;">
        <span class="Icon navInvest">
            <i></i>
        </span>
        <span class="txt">充值兑换</span>
    </a>
</li>
<li class="navItem wel" data-page="/wel.html" data-type="wel">
    <a href="javascript:;">
        <span class="Icon navWel">
            <i></i>
        </span>
        <span class="txt">福利专区</span>
    </a>
</li>